@import 'priceCard.scss';
@import 'common.scss';
@import 'variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: $white-color;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: $document-color;
}

.page {
  display: flex;
  gap: 18px;
  width: 1176px;
}
