$white-color: #ffffff;
$document-color: #141b1c;
$main-card-color: #334247;
$basic-card-color: #5bb189;
$business-card-color: #3a6ba5;
$webshop-card-color: #ec632a;
$badge-color: #dc3f45;
$list-item-color: #2a3438;
